{% extends "/base.html" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    
    <body>
        <div id="content">
        {% block content %}
        <div class="container">
            <h4>Neusteter Co. Building Photo History</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <a href="#" class="timeline">
                            <div class="timeline-content">
                                <h3 class="title">1905 - 1910 M. Phillipsborn Co. Building</h3>
                                <p class="description">
                                        View of 16th (Sixteenth) Street from a three-story building on Stout Street, Denver, Colorado; identifiable businesses and buildings include Gano-Downs (721-739 16th) and Colorado Building with Frederick W. Hedgcock & H.C. Jones Specialty Store (717-719 16th), F.W. Woolworth Company 5, 10 & 15 Cent Store (713-715 16th), A.J. Stark & Company (watchmakers and jewelers, 709-711 16th), George H. Braman (men's furnishers, 710-707 16th), and Cottrell's Men's Store.
                                </p>
                                <img class="img-thumbnail" src="/static/Screenshot 2019-05-22 15.13.06.png" alt="">
                            </div>
                            
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-content">
                                <h3 class="title">1913 First Neusteter Co. building</h3>
                                <p class="description">
                                        View of the Neusteter Co., Ladies Wearing Apparel, at 720 16th (Sixteenth) Street in downtown Denver, Colorado with Doctor Hughes office on second floor.
                                </p>
                                <img class="img-thumbnail" src="/static/Screenshot 2019-05-13 11.33.10.png" alt="">
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-content">
                                <h3 class="title">1913-1916 Sels Photo Parade</h3>
                                <p class="description">
                                        16th St. Circus Parade. Elephants pulling carrage. Neusteter Co. BUilding in background.
                                </p>
                                <img class="img-thumbnail" src="/static/Screenshot 2019-05-13 12.13.14.png" alt="">
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-content">
                                <h3 class="title">1910-1920</h3>
                                <p class="description">
                                        View of the intersection of 16th (Sixteenth) and Stout Streets, in downtown Denver, Colorado; shows pedestrian traffic, Christmas decorations, a cars, the Lewis and 
                                        Sons store (with a United States flag). Signs on the Hughes Block read: "Kress" and "Denver Music Co."
                                </p>                                </p>
                                <img class="img-thumbnail" src="/static/Screenshot 2019-05-13 12.41.36.png" alt="">
                            </div>
                        </a>
                        <a href="#" class="timeline">
                                <div class="timeline-content">
                                    <h3 class="title">1905 - 1910 </h3>
                                    <p class="description">
                                            M. Phillipsborn Co. Building B&W photo of the Stout and 16th Street intersection. Photo taken from roof of Denver Music/Kress Building. "The 4 Horeseman of the Apocalypse" banner hangs across the intersection.
                                        </p>                                    </p>
                                    <img class="img-thumbnail" src="/static/Screenshot 2019-05-13 11.36.32.png" alt="">
                                </div>
                                
                            </a>
                            <a href="#" class="timeline">
                                <div class="timeline-content">
                                    <h3 class="title">1913</h3>
                                    <p class="description">
                                            Night time view of 16th (Sixteenth) Street, Denver, Colorado; illuminated signs include A.T. Lewis and Son Dry Goods (800 to 818 16th and corner of Stout),
                                            Joslin Dry Goods Company (16th and southwest corner of Curtis), the May Shoe and Clothing Company (16th and northeast corner of Champa), and illuminated clock 
                                            on Daniels and Fisher Tower, center background; non-illuminated advertising includes Neusteter Company. Street scene includes a decorative street clock, fire 
                                            hydrant, streetlights, street railway tracks, cement sidewalk that appears to be wet, and one automobile parked near curb.
                                    </p>
                                    <img class="img-thumbnail" src="/static/Screenshot 2019-05-13 12.21.09.png" alt="">
                                </div>
                            </a>
                            <a href="#" class="timeline">
                                <div class="timeline-content">
                                    <h3 class="title">1924 </h3>
                                    <p class="description">
                                        The Neusteter Co. opened a "new and enlarged establishment" at 720 16th Street on September 6, 1924. Workers can be seen boarding up the property and working on the canopy.
                                    </p>
                                    <img class="img-thumbnail" src="/static/Exterior 1924.jpg" alt="">
                                </div>
                            </a>
                            <a href="#" class="timeline">
                                <div class="timeline-content">
                                    <h3 class="title">1920-1930</h3>
                                    <p class="description">
                                        Back and white photo of Neusteter Co. from rooftop of Barth Building. Coronado Building in background.
                                    </p>                               
                                    <img class="img-thumbnail" src="/static/Screenshot 2019-05-13 12.22.18.png" alt="">
                                </div>
                            </a>
                            <a href="#" class="timeline">
                                    <div class="timeline-content">
                                        <h3 class="title">1920 </h3>
                                        <p class="description">
                                                Dressing room inside The Neusteter Co.
                                        </p>
                                        <img class="img-thumbnail" src="/static/Screenshot 2019-05-15 11.17.46.png" alt="">
                                    </div>
                                </a>
                                <a href="#" class="timeline">
                                    <div class="timeline-content">
                                        <h3 class="title">1924</h3>
                                        <p class="description">
                                            Dorothy Gray cosmetics section, Neusteter Co. store.                            
                                        </p>
                                        <img class="img-thumbnail" src="/static/Screenshot 2019-05-15 11.18.07.png" alt="">
                                    </div>
                                </a>
                                <a href="#" class="timeline">
                                    <div class="timeline-content">
                                        <h3 class="title">1925 </h3>
                                        <p class="description">
                                                Storefront window display
                                        </p>
                                        <img class="img-thumbnail" src="/static/Screenshot 2019-06-13 21.14.24.png" alt="">
                                    </div>
                                </a>
                                <a href="#" class="timeline">
                                    <div class="timeline-content">
                                        <h3 class="title">1937</h3>
                                        <p class="description">
                                            View of decortive mural by Vance Kirkland.                           
                                        </p>
                                        <img class="img-thumbnail" src="/static/Screenshot 2019-06-13 21.16.14.png" alt="">
                                    </div>
                                </a>
                                <a href="#" class="timeline">
                                        <div class="timeline-content">
                                            <h3 class="title">1979</h3>
                                            <p class="description">
                                                    Exterior photograph of the Neusteter building located in Denver, Colorado. The Neusteter Building, a five-story flat roofed commercial building, 
                                                    consists of the 1924 original block and a smaller circa 1952 pre-cast concrete addition. Featuring a ribbon of black marble around its base and 
                                                    buff colored limestone, it is one of the finent examples of Commercial Style architecture in Denver. The architectural firm of Fisher and Fisher 
                                                    designed the retail facility for the department store of Max and Meyer Neusteter.
                                            </p>
                                            <img class="img-thumbnail" src="/static/Screenshot 2019-05-13 12.09.34.png" alt="">
                                        </div>
                                        
                                    </a>
                                    <a href="#" class="timeline">
                                        <div class="timeline-content">
                                            <h3 class="title">1979</h3>
                                            <p class="description">
                                                Color photo. Stout Street.                                            
                                            </p>
                                            <img class="img-thumbnail" src="/static/Screenshot 2019-05-15 11.34.20.png" alt="">
                                        </div>
                                    </a>
                                    <a href="#" class="timeline">
                                        <div class="timeline-content">
                                            <h3 class="title">1979</h3>
                                            <p class="description">
                                                Exterior photograph of the Neusteter building located in Denver, Colorado. The Neusteter Building, a five-story flat roofed 
                                                commercial building, consists of the 1924 original block and a smaller circa 1952 pre-cast concrete addition. Featuring a 
                                                ribbon of black marble around its base and buff colored limestone, it is one of the finent examples of Commercial Style 
                                                architecture in Denver. The architectural firm of Fisher and Fisher designed the retail facility for the department store 
                                                of Max and Meyer Neusteter.
                                            </p>
                                            <img class="img-thumbnail" src="/static/Screenshot 2019-05-22 15.09.28.png" alt="">
                                        </div>
                                    </a>
                                    <a href="#" class="timeline">
                                        <div class="timeline-content">
                                            <h3 class="title">1979</h3>
                                            <p class="description">
                                                Stout Street looking towards 15th St.
                                            </p>                               
                                            <img class="img-thumbnail" src="/static/Screenshot 2019-05-15 11.37.09.png" alt="">
                                        </div>
                                    </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {% endblock %}